h1 {
  color: firebrick; }

h2 {
  color: sienna; }

h3 {
  color: #E107AB; }

#botonera {
  color: black; }

.bg-dark {
  color: black; }

.centrado {
  margin-left: auto;
  margin-right: auto; }

footer h4 {
  color: navy; }

* {
  margin: 0;
  padding: 10px; }

h1, h2, h3, h4 {
  font-family: 'Shadows Into Light', cursive; }

nav a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1em; }

/* selectores de clase */
.textcenter {
  text-align: center; }

.textright {
  text-align: justify; }

.portfolio {
  margin: 10px 50px 20px 0px;
  display: inline-block; }

.portfolio a:hover {
  opacity: 0.6; }

nav ol li a {
  color: hotpink; }

nav ol li {
  list-style-type: decimal;
  list-style-position: initial; }

nav ol li a {
  color: hotpink;
  font-size: 22;
  text-decoration: none; }

p {
  font-style: italic;
  font-weight: 500;
  font-size: 22;
  line-height: 26px;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-family: 'Raleway', sans-serif;
  margin-left: 25%;
  margin-right: 25%; }

section p em {
  color: navajowhite; }

section fieldset legend {
  color: red; }

footer {
  text-decoration: none;
  text-align: left;
  color: red;
  font-family: sans-serif; }
