//variables


h1{
	color: firebrick;
}


h2{
	color: sienna;

}

h3{
	color: #E107AB;
}
#botonera{
	color: black;
}

.bg-dark{
	color: black;
}

.centrado{

margin-left: auto; 

margin-right: auto;

}

footer h4{
	color: navy;
}


*{
  margin: 0;
  padding: 10px;
}

h1, h2, h3, h4{
	font-family: 'Shadows Into Light', cursive;
}
