p{
	font-style: italic;
	font-weight: 500;
	font-size: 22;
	line-height: 26px;
	letter-spacing: 1px;
	word-spacing: 4px;
	font-family: 'Raleway', sans-serif;
    margin-left: 25%;
    margin-right: 25%;

}

section	p em{
	color: navajowhite;
}
section fieldset legend {
	color: red;
}